{% extends 'base.html'%} {% load static %} {% block content %}

<!-- Page Banner Start -->
<div class="section page-banner">
  <img class="shape-1 animation-round" src="{% static 'images/shape/shape-8.png'%}" alt="Shape" />

  <img class="shape-2" src="{% static 'images/shape/shape-23.png'%}" alt="Shape" />

  <div class="container">
    <!-- Page Banner Start -->
    <div class="page-banner-content">
      <ul class="breadcrumb">
        <li><a href="#">Home</a></li>
        <li class="active">Forgot Password</li>
      </ul>
      <h2 class="title">Forgot <span>Password?</span></h2>
    </div>
    <!-- Page Banner End -->
  </div>

  <!-- Shape Icon Box Start -->
  <div class="shape-icon-box">
    <img class="icon-shape-1 animation-left" src="{% static 'images/shape/shape-5.png'%}" alt="Shape" />

    <div class="box-content">
      <div class="box-wrapper">
        <i class="flaticon-badge"></i>
      </div>
    </div>

    <img class="icon-shape-2" src="{% static 'images/shape/shape-6.png'%}" alt="Shape" />
  </div>
  <!-- Shape Icon Box End -->

  <img class="shape-3" src="{% static 'images/shape/shape-24.png'%}" alt="Shape" />

  <img class="shape-author" src="{% static 'images/author/author-11.jpg'%}" alt="Shape" />
</div>
<!-- Page Banner End -->

<!-- Register & Login Start -->
<div class="section section-padding">
  <div class="container" style="max-width: 650px !important">
    <!-- Register & Login Wrapper Start -->
    <div class="register-login-wrapper">
      <div class="row align-items-center">
        <div class="col-lg-12 align-items-center">
          <!-- Register & Login Form Start -->

          <!-- Form Wrapper Start -->

          <form action="{% url 'forgot_password'%}" method="POST">
            {% csrf_token %}
            <div class="row">
              <!-- Register & Login Images Start -->
              <div class="col-md-12">
                <h4 style="text-align: center !important">🔐 Forgot Your Password?</h4>
                <p style="text-align: center !important">Please enter your account email address to receive the link</p>
                <!-- Form Wrapper Start -->
                <div class="single-form">
                  <input type="email" name="email" placeholder="Enter your account email" />
                </div>
                <!-- Form Wrapper End -->
              </div>

              <div class="col-md-12">
                <!-- Form Wrapper Start -->
                <div class="single-form text-center">
                  <button type="submit" class="btn btn-primary btn-hover-dark">Continue</button>
                </div>
                <!-- Form Wrapper End -->
              </div>
              <div class="col-md-12">
                <!-- Form Wrapper Start -->
                <div class="single-form text-center">
                  <a href="{% url 'login'%}">Back to login?</a>
                </div>
                <!-- Form Wrapper End -->
              </div>
              <div class="col-md-6">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">{% include 'includes/alerts.html' %}</div>
              </div>
            </div>
          </form>
        </div>
        <!-- Register & Login Form End -->
      </div>
    </div>
    <!-- Register & Login Wrapper End -->
  </div>
</div>
<!-- Register & Login End -->
{% endblock %}
